* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
  }

.container::after,
.full-container::after {
  content: "";
  display: table;
  clear: both;
}


/* STILE ASIDE SPOTIFY */
.spoti-aside{
  width: 10%;
  position: fixed;
  height: calc(100vh - 100px);
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #040404;
  z-index: 99;
}

/* stile unico per gli aside links */
aside a:hover{
  cursor: pointer;
  color: #6ece3b;
}
aside a{
  color: #b3b3b3;
}

/* logo aside */
#logo, .navbar.top, .navbar.middle, .navbar.bottom{
  margin: 20px 10px;
}

#logo img{
  max-width: 90%;
}
/* prima sezione nav dell'aside */
.navbar.top a{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-size: 15px;
}

.navbar.top i{
  font-size: 25px;
}

.navbar.top p{
  font-weight: 700;
  padding-left: 10px;
}
/* seconda sez. nav dell'aside */
.navbar.middle h4{
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.navbar.middle li{
  padding: 5px 0;
}

.navbar.middle a{
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#crea{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

#crea i{
  font-size: 30px;
  padding-right: 10px;
}
/* terza sez. nav dell'aside */
.bottom-elements{
  padding: 30px 0;
}
.navbar.bottom .install{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5px;
  padding-bottom: 10px;
}

.navbar.bottom .user{
  border-top: 2px solid  #b3b3b3;
  color: #ffffff;
  padding: 12px 0;
}

.navbar.bottom .user img{
  float: left;
  border-radius: 50%;
}

.navbar.bottom .user p{
  float: left;
  line-height: 50px;
  padding-left: 10px;
}

/*-- BLOCCO HEADER E MAIN SPOTIFY */
.blocco1{
    width: 100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    float: left;
    background-color: #121212;
}

/* STILE HEADER SPOTIFY */
header{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    background-color: #0b0b0b;
}

.container{
    line-height: 100px;
    margin-right: 30px;
}
.container button {
  transition-duration: 0.8s;
  background-color: #0b0b0b;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 700;
  color: #b3b3b3;
}

.container button:hover {
  background-color: rgba(111, 202, 59, 0.6);
  border-color: rgba(111, 202, 59, 0.6);
  color: #ffffff;
  cursor: pointer;
}

/* STILE MAIN SPOTIFY */
main{
    margin-top: 100px;
    margin-left: 10%;
    width: 100%;
}

.music-sections{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.selection{
    margin: 0 15px;
    padding: 15px 0;
    height: 100%;
}

.music-sections .selection:hover {
    border-bottom: 4px solid #6ece3b;
}

.music-sections a{
    font-weight: 700;
    text-transform: uppercase;
    color: #b3b3b3;
}

.titolo-recenti h4{
    font-size: 25px;
    margin: 40px;
    color: #ffffff;
}

.band-recenti{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.band-recenti-card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.band-recenti-card img{
    width: 100%;
    padding-bottom: 15px;
}
.band-recenti-card h5{
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}
.band-recenti-card small{
    color: #b3b3b3;
    font-weight: bold;
}


/* FOOTER SPOTIFY */
footer {
   position:fixed;
   left:0;
   bottom:0;
   height:100px;
   width:100%;
   background-color: #282828;
   z-index: 100;
}
