* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

  .container::after,
  .full-container::after {
      content: "";
      display: table;
      clear: both;
  }
/*stile per tutti i link e liste*/
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* STILE ASIDE SPOTIFY */
.spoti-aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 100vh;
    background-color: #040404
}
/* stile unico per gli aside links */
aside a:hover{
    color: #ffffff;
}
aside a{
    color: #b3b3b3
}

/* logo aside */
#logo, .navbar-top{
    margin-left: 10px;
}

#logo img{
    max-width: 100%;
    height: 50px;
    margin: 20px 0;
}

/* prima sezione nav dell'aside */
.navbar.top a{
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 15px;
}

.navbar.top i{
    font-size: 25px;
}

.navbar.top p{
    font-weight: 900;
    padding-left: 10px;
}
/* seconda sez. nav dell'aside */
.navbar.middle h4{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
}
.navbar.middle li{
    padding: 5px 0;
}

.navbar.middle a{
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.5px;
}

#crea{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 900;
}

#crea i{
    font-size: 40px;
    padding-right: 10px;
}
